<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li>
            <a href="/Teacher/Index">Inicio</a>
        </li>
        <li>
            <a href="/Teacher/ListTeachers">Listado de Profesores</a>
        </li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
