@model EntityLayer.TeacherEntity

@{
    ViewBag.Title = "EditTeacher";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h2>EditTeacher</h2>

<div>
    @using (Html.BeginForm("UpdateTeacher", "Teacher", FormMethod.Post))
    {
        <input readonly type="number" name="id" placeholder="Identificador" value="@Model.id_teacher" /><br />
        <input type="text" name="txtFirst" placeholder="Nombre" value="@Model.first" autofocus /><br />
        <input type="text" name="txtLast" placeholder="Apellido" value="@Model.last" /><br />
        <input type="submit" value="Actualizar" /><br />
    }
</div>