@model EntityLayer.TeacherEntity

@{
    ViewBag.Title = "EditTeacher";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h2>EditTeacher</h2>

<div>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        <input type="number" name="txtId" placeholder="Identificador" value="@Model.id_teacher" autofocus /><br />
        <input type="text" name="txtFirst" placeholder="Nombre" value="@Model.first" /><br />
        <input type="text" name="txtLast" placeholder="Apellido" value="@Model.last" /><br />
        <input type="submit" value="Actualizar" /><br />
    }
</div>