@model List<EntityLayer.TeacherEntity>

@{
    ViewBag.Title = "listTeachers";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h2>listTeachers</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.id_teacher</td>
        <td>@item.first</td>
        <td>@item.last</td>
    </tr>
    }
</table>